.moviesPage {
    padding-left: 24px;
    margin-bottom: 24px;
  }
  
  .movieList {
    list-style: inside;
  }
  
  .item {
    color: black;
  }
  .item:hover,
  .item:focus {
    color: #13a264;
  }